<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

	<display-name>kylindb-analyser</display-name>
	
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>kylindb-analyser</param-value>
	</context-param>
	<!-- log4j configuration -->

<!-- 	<context-param> -->
<!-- 		<param-name>log4jConfigLocation</param-name> -->
<!-- 		<param-value>/WEB-INF/classes/log4j.properties</param-value> -->
<!-- 	</context-param> -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<!-- context -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:/spring/*.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>logbackConfigLocation</param-name>
	<!-- 可以使用log jar包中自带的配置文件，也可以自己指定
	不管使用哪种方式都需要指定该配置项 -->
		<param-value>classpath:logconfig/logback.xml</param-value>
	</context-param>
	<listener>
		<listener-class>net.kylindb.log.ext.spring.web.LogbackConfigListener</listener-class>
	</listener>
	<!-- servlet configuration -->
	<servlet>
		<servlet-name>SpringDispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/classes/servlet-context.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SpringDispatcher</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	
	<!-- encoding configuration -->
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>	
	</filter>
	
	<filter>
    	<filter-name>CORS</filter-name>
    	<filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
    	<init-param>
     		<param-name>cors.allowOrigin</param-name>
        	<param-value>*</param-value>
    	</init-param>
    	<init-param>
     		<param-name>cors.supportedMethods</param-name>
        	<param-value>GET, POST, HEAD, PUT, DELETE</param-value>
    	</init-param>
    	<init-param>
     		<param-name>cors.supportedHeaders</param-name>
        	<param-value>Accept, Origin, X-Requested-With, Content-Type, Last-Modified</param-value>
    	</init-param>
    	<init-param>
        	<param-name>cors.exposedHeaders</param-name>
        	<param-value>Set-Cookie</param-value>
    	</init-param>
    	<init-param>
        	<param-name>cors.supportsCredentials</param-name>
        	<param-value>true</param-value>
    	</init-param>
	</filter>
	<filter-mapping>
    	<filter-name>CORS</filter-name>
    	<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>	
	</filter-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

</web-app>

